<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Header 1 -->
    <h1>This is the Myers-Briggs Personality Type Test:</h1>

    <!-- Header 2 -->
    <h2>Based on "The Keirsey Temperment Sorter II."</h2>

    <!-- Test Button -->
    <button onclick="alert('You clicked a button!')">Test</button>

</body>
</html>